@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --purple:#1ca5af; /*#8e44ad*/
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#f5f5f5;
    --border: .1rem solid var(--purple);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

/* *::selection{
    background-color: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}
*/
html{
    font-size: 60.5%;
    overflow-x: hidden;

}

.btn,
.option-btn,
.delete-btn,
.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.white-btn,
.btn{
    background-color: var(--purple);
}

.option-btn{
    background-color: var(--orange);
}

.delete-btn{
    background-color: var(--red);
}

@keyframes fadeIn{
    0%{
        transform: translate(1rem);
        opacity: .2s;
    }
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
    background-color: var(--black);
}


.form-container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-container form{
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--white);
    text-align: center;
}

.form-container form h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: 1rem;
    color: var(--black);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin: 1rem 0;
}

.form-container form p{
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.form-container form p a{
    color: var(--purple);
}

.form-container form p a:hover{
    text-decoration: underline;
}


/* Register and Login CSS End */


/* Header Home page*/

.header .header-1{
    background-color: var(--light-bg);
}

.header .header-1 .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header .header-2{
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.header .header-2 .flex{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header .header-1 .flex .share a{
    font-size: 2.5rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .header-1 .flex .share a:hover{
    color: var(--purple);
}

.header .header-1 .flex p{
    font-size: 2rem;
    color: var(--light-color);
}

.header .header-1 .flex p a{
    color: var(--purple);
}

.header .header-1 .flex p a:hover{
    text-decoration: underline;
}

.header .header-2 .flex .logo{
    font-size: 2.5rem;
    color: var(--purple);
    font-weight: bolder;

}

.header .header-2 .flex .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;
}

.header .header-2 .flex .navbar a:hover{
    color: var(--purple);

}

.header .header-2 .flex .icons > *{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .header-2 .flex .icons > *:hover{
    color: var(--purple);
}

#menu-btn{
    display: none;
}

.header .header-2 .flex .user-box{
    position: absolute;
    top: 120%; right: 2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border: var(--border);
    background-color: var(--white);
    display: none;
    animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active{
    display: inline-block;
}

.header .header-2 .flex .user-box p{
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.header .header-2 .flex .user-box p span{
    color: var(--purple);
}

.header .header-2 .flex .user-box .delete-btn{
    margin-top: 0;
}











@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

}

@media (max-width:768px) {
    
    .header .header-2 .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }

    .header .header-2 .flex .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2.5rem;
    }

    .header .header-2 .flex .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    #menu-btn{
        display: inline-block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}